// @import "../abstracts/_abstracts-dir";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffffc5;
}

body {
  @include page-center;
  font-family: Avenir;
  background-color: #5bb7b7;
}

.main-container {
  @include page-center;
  flex-direction: column;
  width: 450px;
  height: 500px;
  margin: 50px;
  position: relative;
}

img {
  width: 250px;
  height: 170px;
  position: absolute;
  top: 0px;
  right: 90px;
  z-index: 0;
  border-bottom: 50px;
}

.motion {
  display: none;
}

.half-circle {
  width: 400px;
  height: 105px;
  border: solid 5px white;
  border-color: white transparent transparent transparent;
  border-radius: 70%/100px 100px 0 0;
  transform: rotate(180deg);
  z-index: 1;
  position: absolute;
  top: 50px;
}
.line {
  background-color: white;
  width: 200px;
  height: 1px;
  z-index: 1;
  position: absolute;
  top: 180px;
}

.buttons {
  height: 50px;
  display: flex;
  flex-direction: row;
  #startStop,
  #reset {
    margin: 10px 20px;
    width: 100px;
    height: 40px;
    border: 3px solid white;
    background-color: transparent;
  }
}

button:hover {
  color: yellow;
}

.clock {
  @include page-center;
  justify-content: space-evenly;
  width: 500px;
  height: 180px;
  margin: 50px 80px;
  margin-bottom: 0;
  padding: 20px;
  white-space: nowrap;
  font-size: 65px;
  z-index: 1;
}

h5 {
  margin-top: 30px;
  color: yellow;
}
